*{   
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
body{
    font-family: montserrat;
    background-image: url('https://static.vecteezy.com/system/resources/previews/004/672/811/original/light-blue-soft-background-with-diagonal-lines-free-vector.jpg');
    /* background-image: url('https://c0.wallpaperflare.com/preview/989/402/393/soft-white-blue-sky.jpg'); */
    background-repeat: no-repeat;
    background-size: cover;
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: mediumblue;
    height: 80px;
    width: 100%;
    /* font-family:  */
}
.logo{
    color: black;
    font-size: 35px;
    line-height: 80px;
    padding: 0 15px;
    font-weight: bold;
}
.navlist{
    float: right;
    margin-right: 20px;
}
nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}
nav ul li a{
    color: #000;
    font-size: 20px; 
    padding: 16px; 
    border-radius: 6px;
}
a.active,a:hover{
    background: midnightblue;
    transition: .5s;
}
#home{
    text-align: center;
    font-size: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 600;
    padding: 100px;
    margin: 50px;
}
#home p{
    margin: 30px;
}
#getstarted{
    background-color: #1c87c9;
    border: none;
    border-radius: 20px;
    color: white;
    padding: 20px 34px;
    text-decoration: none;
    /* display: inline-block; */
    font-size: 30px;
    margin: 4px 2px;
    cursor: pointer;
}
#getstarted:hover{
transition: .5s;
background-color: aqua;
}
.dogcards{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.card{
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 25px 35px;
    margin: 15px;
    width: 25%;
    border-color: #000;
}
.like-button{
    background-color: #1c87c9;
    border: none;
    border-radius: 10px;
    color: white;
    padding: 6px 8px;
    text-decoration: none;
    font-size: 30px;
    margin: 4px 2px;
    cursor: pointer;
}
.section_header{
    text-align: center;
    font-size: 50px;
}
#about{
    padding: 100px;
    margin: 50px;
}
.about_innertext p{
    padding: 40px;
    margin: 25px;
    font-size: 28px;
    font-weight: 400;
}
